.about {
  margin-top: 45px;
  &__wrapper {
    background-image: url(../image/Object.png);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;

    padding: 118px 233px 118px 58px;
  }

  &__made {
    font-family: "Fraunces 9pt";
    font-size: 72px;
    line-height: 72px;

    width: 493px;

    color: #fefcf7;
  }

  &__start {
    width: 445px;

    color: #fefcf7;

    mix-blend-mode: normal;
    opacity: 0.8;

    margin-top: 32px;
    margin-bottom: 56px;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    &__wrapper {
      padding: 118px 233px 118px 58px;

      background-image: url(/image/tablet_hero.png);
    }
    &__made {
      font-size: 32px;
      line-height: 40px;
    }
    &__start {
      font-size: 15px;
      line-height: 25px;

      width: 398px;

      margin: 0;
      margin-top: 24px;
    }
  }
}
@media only screen and (max-width: 376px) {
  .about {
    &__wrapper {
      padding: 111px 24px 87px 24px;

      background-image: url(/image/mobile_hero.png);
    }
    &__made {
      font-size: 28px;
      line-height: 28px;

      text-align: center;

      width: 279px;
    }
    &__start {
      font-size: 15px;
      line-height: 25px;

      text-align: center;

      width: 279px;
    }
  }
}
