.cards {
  padding: 168px 165px 184px 165px;

  &__option {
    display: flex;
  }
  &__left {
    width: 255px;
    margin-right: 125px;
  }

  &__list {
    display: flex;
    gap: 26px;

    cursor: pointer;

    @include number-li;
  }

  &__text {
    @include number-li;

    margin: 24px 0px;
  }

  &__hr {
    background: #83888f;
    mix-blend-mode: normal;
    opacity: 0.25;
  }

  &__inform {
    max-width: 730px;

    display: flex;
    justify-content: space-between;
  }

  &__drink {
    font-family: "Fraunces 9pt";
    font-size: 40px;
    line-height: 48px;

    color: #83888f;
  }
  &__capsule {
    display: flex;

    gap: 23px;
  }
  &__filter {
    @include card;

    cursor: pointer;
  }

  &__info {
    font-family: "Fraunces 9pt";
    font-size: 24px;
    line-height: 32px;

    color: #333d4b;
  }

  &__systems {
    color: #333d4b;

    margin-top: 24px;
  }
  &__decaf {
    width: 730px;
    padding: 31px 64px 27px 64px;

    background: #2c343e;
    border-radius: 10px;
  }

  &__order {
    text-transform: uppercase;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;

    margin-bottom: 8px;
  }
  blockquote {
    font-family: "Fraunces 9pt";
    font-size: 24px;
    line-height: 40px;

    color: #ffffff;
  }
  span {
    color: #0e8784;
  }

  &__btn {
    margin-top: 40px;
    margin-left: 520px;
  }
}
@media only screen and(max-width:768px) {
  .cards {
    padding: 0;

    &__left {
      display: none;
    }
    &__btn {
      margin-left: 236px;
      margin-bottom: 144px;
    }
    &__capsule {
      margin-top: 40px;
      margin-bottom: 100px;
    }
  }
}
@media only screen and(max-width:376px) {
  .cards {
    &__drink {
      font-size: 24px;
      line-height: 28px;

      max-width: 240px;
    }
    &__inform {
      max-width: 328px;
    }
    &__capsule {
      flex-direction: column;

      gap: 16px;

      margin-bottom: 110px;
      margin-top: 32px;
    }
    &__filter {
      padding: 24px 25px;

      max-width: 328px;
    }
    &__decaf {
      padding: 32px 24px;

      max-width: 328px;
    }
    &__btn {
      margin-top: 56px;
      margin-left: 55px;
    }
  }
}
