.choose {
  position: relative;

  height: 728px;

  margin-left: 80px;

  &__black {
    width: 1280px;
    height: 577px;

    background: #2c343e;
    border-radius: 10px;

    padding-top: 100px;
  }

  &__why {
    font-family: "Fraunces 9pt";

    font-size: 40px;
    line-height: 48px;

    text-align: center;

    color: #fefcf7;

    margin-bottom: 32px;
  }

  &__large {
    font-family: "Barlow";

    text-align: center;

    color: #fefcf7;

    mix-blend-mode: normal;
    opacity: 0.8;

    width: 540px;
    // height: 80px;

    margin-left: 370px;
  }

  &__item {
    position: absolute;
    bottom: 0px;

    display: flex;
    align-items: center;
    gap: 30px;

    margin-left: 85px;
  }
  &__list {
    width: 360px;
    height: 382px;

    background: #0e8784;
    border-radius: 8px;
  }
  &__img {
    width: 71px;
    height: 72px;
    margin-top: 72px;
    margin-left: 136px;
  }
  &__best {
    font-family: "Fraunces 9pt";
    font-size: 24px;
    line-height: 32px;

    text-align: center;

    color: #fefcf7;

    width: 255px;
    height: 32px;

    margin-left: 47px;
    margin-top: 56px;
  }
  &__discover {
    width: 255px;
    height: 78px;

    text-align: center;

    color: #fefcf7;

    margin-left: 47px;
    margin-top: 24px;
  }
}
@media (max-width: 768px) {
  .choose {
    margin-left: 0;

    &__black {
      width: 688px;

      padding-top: 56px;
    }

    &__why {
      font-size: 32px;
      line-height: 48px;

      text-align: center;

      width: 264px;

      margin-left: 212px;
    }

    &__large {
      font-size: 15px;
      line-height: 25px;

      width: 540px;

      margin-left: 74px;
      margin-bottom: 70px;
    }

    &__item {
      top: 275px;
      flex-direction: column;

      margin-left: 57px;
    }
    &__list {
      width: 573px;
      display: flex;
      align-items: center;

      width: 573px;
      // height: 180px;

      padding: 41px 48px 41px 70px;
    }
    &__img {
      margin: 0;
    }

    &__best {
      font-size: 24px;
      line-height: 32px;

      text-align: start;

      margin: 0px 0px 16px 55px;
    }
    &__discover {
      font-size: 15px;
      line-height: 25px;

      // width: 344px;
      text-align: start;
      margin: 0px 0px 0px 55px;
    }
  }
}
@media only screen and(max-width: 376px) {
  .choose {
    &__black {
      width: 327px;
      height: 900px;
      padding: 64px 24px 28px 24px;
    }
    &__why {
      font-size: 28px;
      line-height: 28px;

      text-align: center;
      margin: 0;
    }
    &__large {
      font-size: 15px;
      line-height: 25px;

      text-align: center;

      width: 279px;
      margin: 0;
      margin-top: 24px;
    }
    &__item {
      left: 38px;

      margin: 0px auto;
    }
    &__list {
      width: 279px;

      flex-direction: column;
      justify-content: center;

      padding: 72px 33px 51px 33px;
    }
    &__img {
      width: 71px;
      height: 72px;
    }
    &__best {
      font-size: 24px;
      line-height: 32px;

      text-align: center;

      margin: 0;
      margin-top: 56px;
      margin-bottom: 24px;
    }
    &__discover {
      font-size: 15px;
      line-height: 25px;

      text-align: center;

      margin: 0 auto;

      width: 212px;
    }
  }
}
