.footer {
  &__line {
    width: 622px;
    height: 26px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    gap: 32px;
  }
  &__logo {
    width: 236px;
    height: 26px;
  }
  &__link {
    font-family: "Barlow-700";
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888f;

    &:hover {
      color: black;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__cont {
    display: flex;
    justify-content: space-between;

    background: #2c343e;

    padding: 47px 35px 49px 85px;
    margin-top: 200px;

    &--two {
      margin-top: 0px;
    }
  }
}
