.footer {
  &__line {
    width: 622px;
    // height: 26px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    gap: 32px;
  }
  &__logo {
    width: 236px;
  }
  &__link {
    font-family: "Barlow-700";
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888f;

    &:hover {
      color: black;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    background: #2c343e;

    padding: 47px 35px 49px 85px;
    margin-top: 200px;

    &--two {
      margin-top: 0px;
    }
  }
}
@media (max-width: 768px) {
  .footer {
    &__wrapper {
      width: 688px;
      padding: 54px 191px 54px 215px;
      flex-direction: column;
    }
    &__line {
      width: 283px;
      flex-direction: column;
    }
    &__item {
      margin-top: 33px;
      margin-bottom: 65px;
    }

    &__logo {
      width: 263px;

      justify-content: center;
    }
    &__link {
      font-size: 12px;
      line-height: 15px;
    }
    &__icon {
      // width: 283px;

      justify-content: center;
    }
  }
}
@media only screen and(max-width:375px) {
  .footer {
    &__line {
      width: 225px;
    }
    &__wrapper {
      width: 327px;
      padding: 54px;
    }
    &__logo {
      width: 217px;
    }
    &__item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
