.great {
  margin-top: 45px;
  &__coffee {
    background-image: url(/image/hore_img.png);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;

    padding-top: 117px;
    padding-left: 85px;
    padding-bottom: 116px;
  }

  &__made {
    font-family: "Fraunces 9pt";
    font-size: 72px;
    line-height: 72px;

    width: 493px;

    color: #fefcf7;
  }

  &__start {
    width: 445px;

    color: #fefcf7;

    mix-blend-mode: normal;
    opacity: 0.8;

    margin-top: 32px;
    margin-bottom: 56px;
  }
}
@media (max-width: 768px) {
  .great {
    &__made {
      font-size: 48px;
      line-height: 48px;
    }
    &__start {
      font-size: 15px;
      line-height: 25px;
    }

    &__coffee {
      background-image: url(/image/res-img.jpg);
      padding-bottom: 104px;
    }
  }
}
@media only screen and(max-width:375px) {
  .great {
    &__coffee {
      padding: 100px 24px;
    }
    &__made {
      font-size: 40px;
      line-height: 40px;

      text-align: center;

      width: 279px;

      margin-left: 0;
    }
    &__start {
      width: 279px;
      font-size: 15px;
      line-height: 25px;

      text-align: center;

      margin: 24px 0px 39px 0px;
    }
    button {
      margin-left: 36px;
    }
  }
}
