.header {
  margin-top: 44px;

  &__menu {
    display: none;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    gap: 32px;
  }

  &__a {
    font-family: "Barlow-700";

    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888f;
    &:hover {
      color: black;
    }
  }
}

@media only screen and (max-width: 376px) {
  .header {
    &__img {
      max-width: 163px;
    }
    &__list {
      display: none;
    }
    &__menu {
      display: block;
    }
  }
}
