.header {
  display: flex;
  justify-content: center;

  &__menu {
    display: none;
  }
  &__wrapper {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 44px;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 32px;

    width: 283px;
  }
  &__img {
    width: 236px;
    height: 26px;
  }

  &__a {
    font-family: "Barlow-700";

    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888f;
    &:hover {
      color: black;
    }
  }
}
@media only screen and (max-width: 768px) {
  .header {
    &__wrapper {
      width: 689px;
    }
  }
}
@media only screen and (max-width: 375px) {
  .header {
    &__wrapper {
      max-width: 327px;
      gap: 148px;
    }
    &__img {
      max-width: 163px;
    }
    &__list {
      display: none;
    }
    &__menu {
      display: block;
    }
  }
}
