.how {
  margin-top: 200px;
  &__two {
    margin-left: 165px;
  }
  &__works {
    font-family: "Fraunces 9pt";
    font-size: 24px;
    line-height: 32px;

    color: #83888f;
  }
  &__element {
    position: relative;

    display: flex;
    gap: 349px;

    margin-top: 80px;
    margin-bottom: 67px;

    max-width: 800px;

    &--two {
      margin-top: 0px;
    }
  }
  &__line {
    position: absolute;
    top: 15px;
    right: 25px;

    width: 760px;
    height: 1px;

    border: 1px solid #fdd6ba;
    z-index: -1;

    &--two {
      z-index: 2;
    }
  }
  &__circle {
    width: 31px;
    height: 31px;

    background: #fefcf7;
    border: 2px solid #0e8784;
    border-radius: 50%;

    &--two {
      background: none;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 95px;
  }
  // &__list {
  //   width: 285px;
  // }
  &__number {
    font-family: "Fraunces 9pt";
    font-size: 72px;
    line-height: 72px;

    color: #fdd6ba;
  }
  &__info {
    font-family: "Fraunces 9pt";
    font-size: 32px;
    line-height: 36px;

    color: #333d4b;

    max-width: 255px;

    margin-top: 42px;
    margin-bottom: 64px;

    &--two {
      color: #fefcf7;
    }
  }
  &__select {
    font-family: "Barlow";
    color: #333d4b;

    max-width: 285px;
    // height: 130px;

    margin-bottom: 64px;

    &--two {
      color: #fefcf7;
      margin-bottom: 0px;
    }
  }
  &__black {
    background: #2c343e;
    border-radius: 10px;

    margin-top: 164px;
    padding: 104px 150px 109px 85px;

    &--two {
      padding: 100px 150px 100px 85px;
    }
  }
}
@media (max-width: 768px) {
  .how {
    &__wrapper {
      margin-top: 405px;
    }

    &__black {
      &--two {
        padding: 97px 40px;
        margin-bottom: 144px;
        margin-top: 0;

        width: 100%;
      }
    }
    margin-left: 39px;
    &__info {
      font-size: 28px;
      line-height: 32px;

      &--two {
        font-size: 28px;
        line-height: 32px;

        margin: 24px 0;
      }
    }
    &__select {
      font-size: 15px;
      line-height: 25px;
      &--two {
        font-size: 15px;
        line-height: 25px;
      }
    }
    &__element {
      gap: 202px;
      margin-top: 40px;
      margin-bottom: 48px;

      width: 620px;
    }
    &__line {
      left: 10px;
      width: 467px;
    }
    &__circle {
      display: flex;
      gap: 202px;
    }

    &__item {
      gap: 10px;

      align-items: flex-start;
    }
    &__list {
      width: 223px;
    }

    &__select {
      margin-bottom: 44px;
    }
  }
}
@media only screen and (max-width: 376px) {
  .how {
    &__wrapper {
      margin-top: 900px;
    }

    &__works {
      font-size: 24px;
      line-height: 32px;

      margin-left: 40px;
    }

    &__element {
      display: none;
    }
    &__item {
      flex-direction: column;
      // width: 327px;

      margin-top: 80px;
      max-width: 326px;
    }
    &__list {
      max-width: 327px;
      align-items: center;
      text-align: center;
    }
    &__number {
      // width: 90px;
      margin: 0 auto;
    }
    &__info {
      max-width: 327px;
      // text-align: center;
      font-size: 28px;
      line-height: 32px;
    }
    &__select {
      max-width: 327px;
      // text-align: center;

      font-size: 15px;
      line-height: 25px;
      &--two {
        margin-bottom: 56px;
      }
    }
  }
}
