.how {
  margin-top: 200px;
  // margin-left: 165px;

  &__works {
    font-family: "Fraunces 9pt";
    font-size: 24px;
    line-height: 32px;

    color: #83888f;
  }
  &__element {
    position: relative;

    display: flex;
    gap: 349px;

    margin-top: 80px;
    margin-bottom: 67px;

    width: 800px;

    &--two {
      margin-top: 0px;
    }
  }
  &__line {
    position: absolute;
    top: 15px;
    right: 25px;

    width: 760px;
    height: 1px;

    border: 1px solid #fdd6ba;
    z-index: -1;

    &--two {
      z-index: 2;
    }
  }
  &__circle {
    width: 31px;
    height: 31px;

    background: #fefcf7;
    border: 2px solid #0e8784;
    border-radius: 50%;

    &--two {
      background: none;
    }
  }
  &__item {
    width: 1045px;

    display: flex;
    align-items: center;
    gap: 95px;
  }
  &__list {
    width: 285px;
  }
  &__number {
    font-family: "Fraunces 9pt";
    font-size: 72px;
    line-height: 72px;

    color: #fdd6ba;
  }
  &__info {
    font-family: "Fraunces 9pt";
    font-size: 32px;
    line-height: 36px;

    color: #333d4b;

    width: 255px;
    height: 73px;

    margin-top: 42px;
    margin-bottom: 64px;

    &--two {
      color: #fefcf7;
    }
  }
  &__select {
    font-family: "Barlow";
    color: #333d4b;

    width: 285px;
    height: 130px;

    margin-bottom: 64px;

    &--two {
      color: #fefcf7;
      margin-bottom: 0px;
    }
  }
  &__black {
    background: #2c343e;
    border-radius: 10px;

    margin-top: 164px;
    padding: 104px 150px 109px 85px;

    &--two {
      padding: 100px 150px 100px 85px;
    }
  }
}
