.united {
  &__headquarters {
    font-family: "Fraunces 9pt";
    font-size: 24px;
    line-height: 32px;

    color: #83888f;

    margin-bottom: 72px;
  }

  &__item {
    display: flex;
    gap: 125px;
  }
  &__list {
    &--two {
      font-family: "Barlow";

      color: #333d4b;
    }
  }
  &__icon {
    margin-bottom: 46px;
  }

  &__info {
    font-family: "Fraunces 9pt";
    font-size: 32px;
    line-height: 36px;

    color: #333d4b;

    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .united {
    &__item {
      gap: 9px;
    }
    &_info {
      font-size: 24px;
      line-height: 36px;
    }
    &__list {
      &--two {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}
@media only screen and (max-width: 376px) {
  .united {
    &__headquarters {
      text-align: center;
    }
    &__item {
      flex-direction: column;
      text-align: center;
    }
    &_info {
      font-size: 28px;
      line-height: 36px;
    }
    &__list {
      &--two {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}
